.image{
  height: 250px;
display: inline-block;
 margin-top: 30px;

}
.div{
 display: flex;
     flex-direction: column; 
     justify-content: center;
     text-align: center;
     align-items: center;
     vertical-align: middle;
     width: 100%;
     height: 100%;

   }
.soradiv{
 flex: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 vertical-align: middle;
 width: 100%;
 height: 250px;
}

.kalam{
 flex: 1;
color: rgb(32, 31, 31);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight:bold;
text-align: center;
}
.smalltext{
 color: rgb(178, 175, 175);
 text-decoration: underline;
}
button{
 padding: 10px;
 color: white;
 background-color:   #717463;
;
 border: none;
}
button:hover{
 opacity: 0.8;
 box-shadow: 5px 5px 5px rgb(150, 148, 148);
}

.createacc{
 color: white;
}
.createacc:active{
 color: grey;
}
.createacc:hover{
 color: white;
}

h1{
 color: #717463;

}