body {
  margin: 0%;
  background-color: #e3dfda;

}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(213, 242, 67);
}

.main {
  margin-left: 170px;
  margin-right: 170px;
  /*background: linear-gradient(to right,#4f8b6e, #14452f);*/
  background-color: #e3dfda;

  width: 1090px;
  height: 665px;
  display: flex;
}

.rightside {
  margin-top: 50px;
  width: 350px;
  height: 500px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;



}

.leftside {
  margin-top: 50px;
  background-color: white;
  margin-left: 0px;
  display: flex;
  height: 500px;
  width: 1300px;
  display: 2fr;
  border: 1px solid #948b7e;
  box-shadow: 5px 5px 5px rgb(163, 162, 162);



}

.upperright {
  background-color: #a59a89;
  border: 1px solid #948b7e;

  height: 30%;
  justify-content: left;


}

.p1 {
  font-weight: bold;
  margin: 40px;
  margin-left: 15px;
  font-size: medium;
  text-align: left;
}

.p2 {
  margin: 50px;
  font-size: 20px;
}

.lowerright {

  flex: 2;
  background-color: #C9C0B3;
  display: flex;
  flex-direction: column;
  margin: 0px;
  border: 2px solid #948b7e;

}

/*.accounticon{
border-radius: 80%;
display: inline-block;
width: 30px;
height: 30px;
vertical-align: middle;

}*/
.one {
  background-color: #C9C0B3;
  flex: 1;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 0px;
  padding-top: 10px;
}

.two {
  background-color: #C9C0B3;
  flex: 1;
  padding: 5px;

  padding-top: 20px;




}

.three {
  background-color: #C9C0B3;
  flex: 1;
  padding: 5px;
  padding-top: 20px;


}

.four {
  background-color: #C9C0B3;
  flex: 1;
  padding: 5px;
  padding-top: 20px;


}

.five {
  background-color: #C9C0B3;
  flex: 1;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 5px;

}

.text {
  display: inline-block;
  vertical-align: middle;
  color: black;

}

.text:hover {
  color: rgb(142, 170, 0);
}

.logo {
  margin: 10px;
  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding: 0%;
  width: 90px;
  border-radius: 50%;

}

header {
  display: flex;
  align-items: left;
  padding: 10px;
  background-color: #C9C0B3;
  height: 100px;

}

.brandname {
  margin-top: 40px;
}


/* dah el style bta3 el footer */

.div-buttom {
display: flex;
margin-top: 40px;
background-color: rgb(235, 234, 234);
}

.div-buttom .alldiv {
display: flex;
flex-direction: column;
justify-content: center;
padding: 20px;
width: 100%;
height: 170px;
margin-bottom: 10px;
}

.div-buttom .alldiv p {
margin-top: 0;
margin-bottom: 5px;
}

.div-buttom .alldiv a {
text-decoration: none;
color: gray;


}
#carticon{
margin-top: 40px;
margin-left: 980px;
font-size: 25px;

}
#homeicon{

margin-top: 40px;
margin-left: 20px;
font-size: 25px;

}